.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 460px;
  min-height: 100vh;
  padding: 20px;
  background: #fff;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);

  &-title {
    text-align: center;
  }
}
