.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
  }

  .detail-box {
    display: grid;
    row-gap: 0.5rem;

    .cart-product-title {
      text-transform: uppercase;
      font-size: 1rem;
    }

    .cart-price {
      font-weight: 500;
    }

    .detail-quantity {
      display: flex;
      align-items: center;
      flex: 1;

      font-size: 1rem;

      p {
        font-size: 1.1rem;
        margin: 0rem 0.4rem;
      }

      p:nth-child(1) {
        font-weight: 600;
      }

      p:nth-child(2) {
        font-weight: 500;
      }
    }
  }
}
