.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  height: 100vh;
  padding: 20px;
  background: #fff;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 350ms;
  transform: translateX(100%);

  &-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  .total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #333;

    &-title {
      font-size: 1rem;
      font-weight: 600;
    }

    &-price {
      margin-left: 0.5rem;
    }
  }

  .btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
    background-color: #333;
    color: #fff;

    &:hover {
      background-color: #ff523e;
      transition: 350ms;
    }
  }

  .close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    cursor: pointer;
  }
}
